# Python cache files
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# Ignore real files
data/master_attendance.xlsx
data/daily_*.csv

# But DO NOT ignore sample files
!data/sample_master.xlsx
!data/sample_daily.csv


backups/*
